.text-box {
  position: absolute;
  bottom: 0px;
  margin: auto;
  left: 50%;
  z-index: 2;
  padding: 0px 20px;
  border-radius: 10px;
  color: black;
  transform: translate(-50%, 0);
  background-color: rgba(250, 250, 250, 0.9);
  background-image: linear-gradient(darkred 1px, transparent 1px);
  background-size: 100% 33.33%;
  width: 880px;
  height: 130px;
}

/* 1100px for smooth transition from 880px to 80% width */
@media only screen and (max-width: 1100px) {
  .text-box {
    width: 80%;
  }
}

.text {
  margin-top: 6px;
  font-size: 20px;
  line-height: 1.95;
}

@media only screen and (max-width: 768px) {
  .text {
    margin-top: 5px;
    font-size: 20px;
    line-height: 1.72;
  }
  .text-box {
    background-size: 100% 25%;
    height: 140px;
  }
  .speaker {
    bottom: 139px;
  }
}

.speaker {
  background: blue; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #dd5454,
    #750000
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #dd5454, #750000);
  border-radius: 30px;
  position: absolute;
  bottom: 129px;
  color: white;
  text-align: center;
  margin-left: -35px;
  width: 290px;
  height: 38px;
  font-size: 28px;
  z-index: 3;
}

@media only screen and (max-width: 768px) {
  .speaker {
    bottom: 139px;
  }
}

/* Speaker box's bottom arrow */
.speaker:before {
  content: "";
  position: absolute;
  right: 250px;
  top: 37px;
  width: 0;
  height: 0;
  border-left: 11px solid transparent;
  border-top: 13px solid #dd5454;
  border-right: 11px solid transparent;
}
